body {
    margin:0px;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.whole-website {
    display: flex;
}

img {
    width: 500px;
    height: 500px;
}


button {
    background-color: #596D48;
    color: white;
}

input {
    border-color: #E5E7EB;
}

input:focus {
    border-color: lightblue;
    box-shadow: 0 4px 8px;
}